$blue-color: #1900C9
$yellow-color: #EDFD00
$orange-color: #FF8700

.header
    height: 100px
    padding: 10px 0
    position: relative
    padding-top: 20px
    background: url('../img/header_bg.jpg') center center/cover no-repeat

    a
        text-decoration: none
    &_logo
        display: flex
        margin-left: 40px
        justify-content: flex-start
        &_text
            margin-left: 5px
            text-decoration: none
            font-size: 40px
            text-transform: uppercase
            font-weight: 900
            color: $blue-color 
    &_nav
        position: relative

        &_list
            display: flex
            justify-content: flex-start
            margin-top: 11px
            
            &_item
                list-style-type: none
                font-size: 20px
                font-weight: 500
                margin-right: 15px
                a
                    color: #000
                    transition: 0.1s
                    &:hover
                        color: $yellow-color
    &_btn
        display: flex
        justify-content: center
        align-items: center
        width: 80%
        height: 50px
        background-color: $blue-color
        border-radius: 32px
        color: #fff
        font-size: 22px
        border: none
        &:hover
            background-color: $yellow-color 
        &:focus
            color: #000
        &:visited, &:focus, &:active, &:hover
            outline:0 none !important
    &_connect
        margin-top: 5px
        border: 1px solid black
        border-radius: 30px
        width: 40%    
        height: 40px  
        justify-content: space-around
        background: transparent
        transition: 0.3s
        margin-right: 10px
        &:visited, &:focus, &:active, &:hover
            outline:0 none !important
        &_viber
            &:hover
                background-color: #8C66A9
                border: none
                color: #fff
        &_whatsapp
            &:hover
                background-color: #5CFA7B
                border: none
                color: #fff

    &_social
        margin-top: 10px
        display: flex
        justify-content: flex-start
        position: relative
        &_item
            width: 34px
            height: 34px
            border-radius: 100%
            background-color: #000
            display: flex
            justify-content: center
            align-items: center   
            margin-right: 5px             
            &_inst
                color: #fff
                &:hover
                    background: linear-gradient(45deg, #992EBF, #FEBA4C)
                    -webkit-background-clip: text
                    -webkit-text-fill-color: transparent
            &_vk
                color: #fff
                &:hover
                    color: #2787F5
            &_yt
                color: #fff
                &:hover
                    color: #FF0000



.main
    height: 750px
    color: #000
    padding-top: 11px
    text-align: center
    display: flex
    text-decoration: none
    background: url('../img/main_bg.jpg') center center/cover no-repeat 
    &_header
        font-size: 34px
        font-weight: 600
    &_name
        font-weight: 900
        font-size: 100px
        text-transform: uppercase
    &_text
        margin-bottom: 20px
        text-align: center
        font-size: 32px
        font-weight: 400
    &_dot
        margin-top: 10px
        justify-content: center
    &_dottext
        text-align-last: left
        font-size: 30px
        margin-top: 15px
    a
        text-decoration: none
    &_btn
        display: block
        border-radius: 96px
        width: 470px
        height: 117px
        background-color: $blue-color
        padding-top: 27px
        margin-top: 40px
        color: #fff
        font-size: 36px
        font-weight: 400
        text-aling: center
        &:hover
            background-color: $yellow-color 
        &:focus
            color: #000
        &:visited, &:focus, &:active, &:hover
            outline:0 none !important
        